body {
  margin: 0;
  font-family: 'Sarabun', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app_container {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.content {
  /* flex-grow: 1; */
}

.about {
  max-width: 1024px;
  margin: 0 auto;
  padding: 80px 0;
}

.about > .detail {
  font-size: 32px;
  color: #333;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 124px;
  width: 100%;
  background-color: #ff3d5e;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.img_profile {
  width: 800px;
  height: 800px;
  border-radius: 50%;
}
._left {
  width: 40%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

._right {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: #191919;
}

p.title {
  font-weight: bold;
  font-size: 80px;
  line-height: 6px;
}

p.primary {
  color: #ff3d5e;
}

p.hello {
  line-height: 0px;
  margin: 0;
  font-size: 42px;
}

.icon {
  font-size: 18px;
  margin: 0 32px;
}

a {
  color: #323232;
}

a:hover {
  color: white;
}
